{% extends "base.html" %}

{% block body %}
<h1>Podimo-to-RSS converter</h1>
This program converts shows on Podimo to an RSS feed that can be used with
any normal podcast player.

<details>
  <summary>Using Apple/Facebook/Google to log in to Podimo?</summary>
    <ol>
      <u>Try the following steps:</u>
      <li>Login at Podimo like you normally would</li>
      <li>Find the email address associated with your account. For Apple, this looks something like <em>abcdefg@privaterelay.appleid.com</em>. You should be able to find them somewhere on the settings page.</li>
      <li>Logout of Podimo.</li>
      <li>Instead of logging in to Podimo like normal, use the "Forgot password" form to reset your password. Put the email address from step 2 in here.</li>
      <li>Reset your password with the link from in your mailbox.</li>
      <li>You should now be able to login to Podimo with the email address from step 2 and the password you just created. You don't have to use the Sign in with Apple/Facebook/Google buttons anymore.</li>
      <li>Verify that you can login to Podimo with your new credentials. If you can, then <em>you are able to use this site!</em></li>
    </ol>
</details>

{% if error %}
<u><h2>Error: {{ error }}</h2></u>
{% endif %}

<form action="./" method="post">
  <label for="email">Your Podimo email address</label> <br />
  <input type="email" required placeholder="Podimo email address" name="email" id="email"><br />

  <label for="password">Your Podimo password</label><br />
  <input type="password" required placeholder="Podimo password" name="password" id="password"><br />

  <label for="podcast_id">Podcast ID (https://open.podimo.com/podcast/<b>THIS IS THE ID</b>)</label><br />
  <input placeholder="Podcast ID" required name="podcast_id" id="podcast_id" pattern="[0-9a-fA-F\-]+"><br />

  <label for="region">Region</label><br />
  <select name="region" id="region">
    {% for region in regions %}
    <option>{{ region }}</option>
    {% endfor %}
  </select>
  <br />

  <label for="locale">Locale</label><br />
  <select name="locale" id="locale">
    {% for locale in locales %}
    <option>{{ locale }}</option>
    {% endfor %}
  </select>

  <footer>
    Licensed under the EUPL-1.2 license - Source on <a href="https://github.com/ThijsRay/podimo">GitHub</a><br />
    If you find this useful, consider <a href="https://www.buymeacoffee.com/thijsr">buying me a coffee ☕</a> - It's greatly appreciated!
  </footer>

  <input type="submit" value="Create RSS URL" />
</form>

{% endblock %}
